main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/lotr_background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}