.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    color: aliceblue;
    height: 100%;
    width: 75%;
}

.quote p {
    font-size: 20px;
    align-self: flex-end;
}

.quote button {
    background-color: transparent;
    border: none;
    color: goldenrod;
    cursor: pointer;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    padding: 1px;
}

.quote button:hover {
    font-size: 31px;
    padding: 0;
}